.button button{
    width:142px;
    height: 54px;
    border-radius: 8px;
    border: none;
    background-color: #FFB000;
    position: absolute;
    top:371px;
    left:30px;
    /* font properties */
    color: white;
    font-size: 14.79px;
    font-weight: 600;
    line-height: 22.19px;
}