#full-stack-heading{
    width:232px;
    height: 74px;
    position: absolute;
    top:82px;
    left:30px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36.75px;
    color:black;
}