h1{
    margin-left: 100px;
    color: white;
    Font:Poppins;
font-weight:700;
font-size:25px;
line-height:37.5px;
}
h1  span{
    color: #FFB000;
    font:Dela Gothic One;
font-weight:400;
font-size:25px;
line-height:36.2px;
}

