.frame-203{
    width:1013px;
    height: 140px;
    position: absolute;
    top:687px;
    left:250px;
    gap:40px;
    display: flex;
}
#group-47{
    width:240px;
    height:140px;
    border: 2px solid rgba(0, 0, 0, 0.20);
    background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);
    border-radius: 20px;
}
#group-202{
    width:240px;
    height:140px;
    background-color: rgb(61, 59, 59);
    border: 2px solid rgba(0, 0, 0, 0.20);
    background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);
    border-radius: 20px;
}
#group-203{
    width:398px;
    height:140px;
    background-color: rgb(61, 59, 59);
    border: 2px solid rgba(0, 0, 0, 0.20);
    background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);
    border-radius: 20px;
}
#group-203 h1{
    width:93px;
    height: 55px;
    position: absolute;

}
#group-47 .group-43{
    width:145px;
    height:93px;
    position: absolute;
    top:23px;
    left:48px;
    /* background-color: rgb(0, 76, 116); */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#group-202 .group-43{
    width:215px;
    height: 93px;
    position: absolute;
    top:23px;
    left:320px;

}
#group-203 .group-43{
    width: 344px;
    height: 93px;
    position: absolute;
    top:23px;
    left:649px;
    /* background-color: rgb(0, 76, 116); */

}


